h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --base-font: Roboto, sans-serif;
  --base-font-color: #757575;
  --second-font-color: #2196f3;
  --title-font-color: #212121;
}

/* VISUALLY HIDDEN ELEMENTS CLASS */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}  */

body {
  font-family: var(--base-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  margin-right: 93px;
}

.logo,
.nav,
.contact {
  align-items: center;
}

.logo-title {
  color: var(--second-font-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  cursor: pointer;
  font-family: Raleway;
}

.logo-title.studio-span {
  color: var(--title-font-color);
}

.nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  list-style-type: none;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: var(--title-font-color);
  font-family: var(--base-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.nav-link.studio:active {
  color: var(--second-font-color);
}

.contact-mail,
.contact-tel {
  color: var(--base-font-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}

.contact-tel {
  margin-left: 50px;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--second-font-color);
}

.hero {
  background-color: #2f303a;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button {
  background-color: var(--second-font-color);
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 30px;
}

.button:hover {
  background-color: #188ce8;
}

/* ADVANTAGES SECTION */

.advantages {
  padding-top: 94px;
}

.advant {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px; */
}

.advant > .advant-item {
  font-family: var(--base-font);
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.advant-item:first-child {
  margin-left: 0px;
}

.advant-item-title {
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advant-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--base-font-color);
}

/* WWD SECTION */
.wwd {
  padding-bottom: 94px;
  padding-top: 94px;
}

.wwd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.wwd-list {
  display: flex;
}

.wwd-item {
  list-style-type: none;
}

.wwd-item:not(:first-child) {
  margin-left: 30px;
}

/* TEAM SECTION */
.team-section {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;

  justify-content: center;
  align-items: center;
}

.team-item {
  list-style-type: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}
.team {
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
}

.team-member-info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}

.team-name {
  color: var(--title-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--base-font-color);
  text-align: center;
}

/* PORTFOLIO FILTER SECTION */
.filter {
  padding-top: 94px;
}

.filter-items {
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  margin-left: -8px;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

.filter-button.all:active {
  background-color: var(--second-font-color);
  color: #ffffff;
}

.filter-item {
  display: flex;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  border: 1px solid var(--title-font-color);
  border-radius: 4px;
}

.portfolio {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  margin-right: -30px;
  margin-bottom: -30px;
}

/* .portfolio-item:nth-child(n + 6) {
  margin-bottom: 0;
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
} */

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  outline: 1px solid #eeeeee;
  box-sizing: border-box;
}

.port-image {
  display: block;
  width: 100%;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-font-color);
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--base-font-color);
  padding-bottom: 20px;
}

/* FOOTER */

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-title {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-font-color);
}

.footer-logo-span {
  color: white;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-address,
.footer-mail,
.footer-tel {
  text-decoration: none;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
}

.footer-mail {
  margin-bottom: 9px;
}
